<footer>
  <div style="margin: 1.5rem 0;">
    <a href="https://github.com/El-wino" target="_blank" rel="noopener">
      <img src="https://cdn.iconscout.com/icon/free/png-512/free-github-icon-svg-download-png-46235.png?f=webp&w=32" alt="GitHub" style="width:32px; height:32px; vertical-align:middle;" />
    </a>
    <a href="https://github.com/El-wino/site1101-portfolio" target="_blank" rel="noopener">
      <img src="https://cdn.iconscout.com/icon/free/png-512/free-repo-icon-433148.png?f=webp&w=32" alt="Repository" style="width:32px; height:32px; vertical-align:middle;" />
    </a>
    <a href="https://www.codecademy.com/profiles/El-wino" target="_blank" rel="noopener">
      <img src="https://cdn.iconscout.com/icon/free/png-512/free-code-cademy-logo-icon-svg-download-png-3030922.png?f=webp&w=32" alt="Codecademy" style="width:32px; height:32px; vertical-align:middle;" />
    </a>
  </div>
</footer>
